<div class='column-headers'>
  <div id='story-header' class='header'>
    <span>Story</span>
  </div>
  <div id='test-header' class='header'>
    <span>Test</span>
  </div>
  <div id='build-header' class='header'>
    <span>Build</span>
  </div>
  <div id='review-header' class='header'>
    <span>Review</span>
  </div>
  <div id='refactor-header' class='header'>
    <span>Refactor</span>
  </div>
  <div id='done-header' class='header'>
    <span>Done</span>
  </div>

</div>

<div class='board'>
  <div id='story' class='column'>

  </div>
  <div id='test' class='column '>

  </div>
  <div id='build' class='column '>

  </div>
  <div id='review' class='column'>

  </div>
  <div id='refactor' class='column'>

  </div>
  <div id='done' class='column'>

  </div>
</div>
