<div class='board'>
  <div class='column story'>
  
  </div>
  <div class='column test'>

  </div>
  <div class='column build'>

  </div>
  <div class='column review'>

  </div>
  <div class='column refactor'>

  </div>
  <div class='column done'>

  </div>
</div>
