<div class='column-headers'>
  <div id='story-header' class='header'>
    <i class="material-icons">face</i>
    <p>Story</p>
  </div>
  <div id='test-header' class='header'>
    <i class="material-icons">edit</i>
    <p>Test</p>
  </div>
  <div id='build-header' class='header'>
    <i class="material-icons">build</i>
    <p>Build</p>
  </div>
  <div id='review-header' class='header'>
    <i class="material-icons">assignment</i>
    <p>Review</p>
  </div>
  <div id='refactor-header' class='header'>
    <i class="material-icons">cached</i>
    <p>Refactor</p>
  </div>
  <div id='done-header' class='header'>
    <i class="material-icons">done</i>
    <p>Done</p>
  </div>

</div>

<div class='board'>
  <div id='story' class='column'>

  </div>
  <div id='test' class='column '>

  </div>
  <div id='build' class='column '>

  </div>
  <div id='review' class='column'>

  </div>
  <div id='refactor' class='column'>

  </div>
  <div id='done' class='column'>

  </div>
</div>
