// VARIABLES

// COLUMNS

.board {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.column {
  height: 500px;

  border: 1px solid black;
}


.story {
  order: 1;
  flex-grow: 1;
}

.test {
  order: 2;
  flex-grow: 1;
}

.build {
  order: 3;
  flex-grow: 1;
}

.review {
  order: 4;
  flex-grow: 1;
}

.refactor {
  order: 5;
  flex-grow: 1;
}

.done {
  order: 6;
  flex-grow: 1;
}
