// VARIABLES


// MAIN

.page-content {
  background-color: rgb(35, 105, 82);
  color: white;
}

// COLUMN HEADERS

.column-headers {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: black;
}

.header {
  height: 50px;
  p {
    margin: 0;
    font-size: 22px;
  }
  i {
    padding-top: 3px;
  }
}

#story-header {
  order: 1;
  flex-grow: 1;
  flex-shrink: 1;
  width: (100% / 6);
}

#test-header {
  order: 2;
  flex-grow: 1;
  flex-shrink: 1;
  width: (100% / 6);
}

#build-header {
  order: 3;
  flex-grow: 1;
  flex-shrink: 1;
  width: (100% / 6);
}

#review-header {
  order: 4;
  flex-grow: 1;
  flex-shrink: 1;
  width: (100% / 6);
}

#refactor-header {
  order: 5;
  flex-grow: 1;
  flex-shrink: 1;
  width: (100% / 6);
}

#done-header {
  order: 6;
  flex-grow: 1;
  flex-shrink: 1;
  width: (100% / 6);
}



// COLUMNS



.board {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.column {
  height: 100%;
}

#story {
  order: 1;
  flex-grow: 1;
  flex-shrink: 1;
  width: (100% / 6);
}

#test {
  order: 2;
  flex-grow: 1;
  flex-shrink: 1;
  width: (100% / 6);
}

#build {
  order: 3;
  flex-grow: 1;
  flex-shrink: 1;
  width: (100% / 6);
}

#review {
  order: 4;
  flex-grow: 1;
  flex-shrink: 1;
  width: (100% / 6);
}

#refactor {
  order: 5;
  flex-grow: 1;
  flex-shrink: 1;
  width: (100% / 6);
}

#done {
  order: 6;
  flex-grow: 1;
  flex-shrink: 1;
  width: (100% / 6);
}
